<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Your Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Get Your Recipe</h1>

        <!-- Form for scraping a single URL -->
        <form action="/scrape" method="post">
            <label for="url">What's the mood~</label>
            <input type="text" id="url" name="url" placeholder="Dish name" required>
            <button type="submit">Search</button>
        </form>

        <!-- Display scraped/crawled results -->
        {% if result %}
            <h2>Recipe for {{ url }}</h2>
            <div class="results">
                <pre>{{ result | safe }}</pre>
            </div>
        {% endif %}
    </div>
</body>
</html>
